<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <div class="contenedor">
        <%- include('./partials/header') %>
        <div class='categoria'>
            <h2>Animales</h2>
        </div>
        <div class='todo'>
        <% animales.forEach(product => { %>
            <div class="prod">
				<section class="product">
					<a class="link" href="/products/detail/<%= product.id %>">
						<figure class="image">
							<img src="<%= product.image %>" alt="imagen de <%= product.name %>">
                        </figure>
						<article class="product-box">
                            <h2 class="nombre"><%= product.name %> </h2>
							<p class="precio"> <%= product.price %> </p>
                        </article>
                    </a>
				</section>
			</div>
        <% }); %> 
        </div>

        <%- include('./partials/footer') %>  
    </div>
</body>
</html>