<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <div class="contenedor">
        <%- include('./partials/header') %>
        <div>
            <h2 class='categoria'>Animales</h2>
        </div>
        <% animales.forEach(product => { %>
            <div class='categorias'>
                
                <img src=<%= product.Image %> alt= <%= product.name %> class='imagen'>
                <h3 class='nombre'> <%= product.name %> </h3>
                <p class='descripcion'><%= product.Description %> </p>
                <p class='precio'><%= product.Price %> </p>
                
            </div>
        <% }); %> 


        <%- include('./partials/footer') %>  
    </div>
</body>
</html>