<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
   <!-- font-awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   <!-- Normalize -->
   <link rel="stylesheet" href="./css/normalize.css">
   <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div>
        <%- include('./partials/header') %>
        <section class="product-info">
            <article class='imagenes'>
            <div class='img-extra'>
                <figure>
                    <img src="<%= unProducto.image %> " alt="">
                </figure>
                <figure>
                    <img src="<%= unProducto.image %>" alt="">
                </figure>
                <figure>
                    <img src="<%= unProducto.image %>" alt="">
                </figure>
            </div>
            <div class='img-principal'>
                <figure>
                    <img src="<%= unProducto.image %>" alt="">
                </figure>
            </div>
            <div class='seleccion'>
            <div class='product-info'>
                <p><%= unProducto.name %> </p>
                <h2>$<%= unProducto.price[0] %> </h2>
                <p>Medios de pago</p>
            </div>
            <div class='tarjetas'>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
            <div class='dropdowns'>
                <p>Marco</p>

                <p>Tamaño</p>

                <p>Cantidad</p>
            </div>
            <button class='add-to-cart'>Agregar al carrito</button>
            </div>
        </article>
        </section>
        <section class='descripcion'>
            <h2 class='descripcion-header'>Sobre este producto</h2>
            <article class='about'> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, placeat reprehenderit. Magni illo consectetur culpa voluptas amet voluptatem, debitis rem tempora vero eligendi reiciendis laborum quasi animi aliquid quo quidem.
            Id necessitatibus commodi cum at quas. Voluptatibus eligendi corporis ad, officia consequatur ducimus accusantium optio fuga obcaecati distinctio? Itaque commodi ipsum nam, consequuntur voluptates voluptatibus. Nihil quas libero esse aliquid.
            Numquam, excepturi praesentium incidunt esse quod voluptatum autem quidem ratione suscipit voluptate ex minus, odio hic quaerat pariatur dignissimos, ut deleniti nulla! Dolore enim saepe autem totam praesentium voluptatum. Hic!
            Fuga, quidem sint magnam recusandae quia autem corporis vel aliquam debitis quibusdam. Asperiores nesciunt doloremque minus consequuntur et sed autem, culpa tempora fugit, nobis reiciendis enim dolorum quas. Quisquam, corporis.</article>
            <h2 class='descripcion-footer'> <br> </h2>
        </section>

        <section class='related'>
            <h2 class='descripcion-header'>Productos relacionados</h2>
            <div>
                <section>
                <figure>
                    <img src="" alt="">
                </figure>
                <article>
                    <p> </p>
                    <h2></h2>
                </article>
                </section>
            </div>
        </section>





        <%- include('./partials/footer') %>  
    </div>
</body>
</html>